.NavbarContainer {
  /* height: 10vh; */
  position: relative;
  width: 100%;
  background-color: #253237;
}
.HomeContainer {
  height: 100vh;
  width: 100%;
  /* background-color: #9ad5ca; */
}
.AboutContainer {
  height: 100vh;
  width: 100%;
  /* background-color: #9ad5ca; */
}
.WorkContainer {
  height: 100vh;
  width: 100%;
  /* background-color: #9ad5ca; */
}
.ContactContainer {
  height: 100vh;
  width: 100%;
  /* background-color: #9ad5ca; */
}

.FooterContainer {
  height: 75px;
  width: 100%;
  background-color: #253237;
}

.ParallaxVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -999;
}

.AboutParallax {
  background-image: url("../assets//mountains.svg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.WorkParallax {
  background-image: url("../assets//sunset-1373171.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ContactParallax {
  background-image: url("../assets//nature-3194001.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
